<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Ignore API" stopProcessing="true">
          <match url="^api($|/.*)" />
          <action type="None" />
        </rule>
        <rule name="Ignore static files" stopProcessing="true">
          <match url=".*\.(js|css|png|jpg|jpeg|gif|svg|woff2?)$" />
          <action type="None" />
        </rule>
        <rule name="Vue SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
